@import "_variables.scss";

/* COMMUNITY - HAPPY TOGETHER
   ========================================================================== */

/* Unlink button state */

.md_manage_communitymanage {
    #organizationList .button.cancelworkflow {
        border: 1px solid #d9545b !important;

        &:hover {
            color: #ffffff;
            background-color: #d9545b;
        }
    }
}

/* Terms and conditions icons*/

.md_manage_communitymanage {
    span.termsicon {
        display: block;
    }
}