@import "_variables_mychart.scss";

/* SDK COMPONENTS
   ========================================================================== */

/* BUTTONS ======= */
._ActionGroup.type-dialog ._actionable:not([disabled]),
._ActionGroup.type-dialog ._actionable ~ ._actionable:not([disabled]) {
    @include default-button-style;

    &.nextstep,
    &.completeworkflow,
    &.inlinesave,
    &.positive {
        @include default-button-style;
    }

    &.cancelworkflow,
    &.inlinedelete,
    &.negative {
        @include default-button-style--negative-ghost;
    }
}

/* PRIMARY */
._link.primary.negative,
._command.primary.negative {
    @include default-button-style--negative;

    ._Icon {
        color: currentColor;
    }
}

._link.primary.neutral,
._command.primary.neutral {
    @include default-button-style;

    ._Icon {
        color: currentColor;
    }
}

._link.primary.positive,
._command.primary.positive {
    @include default-button-style--positive;

    ._Icon {
        color: currentColor;
    }
}

/* SECONDARY */
._link.secondary.negative,
._command.secondary.negative {
    @include default-button-style--negative;

    ._Icon {
        color: currentColor;
    }
}

._link.secondary.neutral,
._command.secondary.neutral,
._link.secondary.positive,
._command.secondary.positive {
    @include default-button-style;

    ._Icon {
        color: currentColor;
    }
}

/* TERTIARY */
._link.tertiary,
._command.tertiary {
    background-color: transparent;
    border: none;
}

._link.tertiary.negative,
._command.tertiary.negative {
    color: $default-button-bg-color__neg;

    &:active,
    &:focus,
    &:hover {
        color: $default-button-bg-color__neg--hover;
        background-color: transparent;
        box-shadow: none;
    }

    ._Icon {
        color: currentColor;
    }
}

._link.tertiary.neutral,
._command.tertiary.neutral,
._link.tertiary.positive,
._command.tertiary.positive {
    color: $default-button-label-color;

    &:active,
    &:focus,
    &:hover {
        color: $default-button-bg-color--hover;
        background-color: transparent;
        box-shadow: none;
    }

    ._Icon {
        color: currentColor;
    }
}

/* GENERAL */
._link {
    color: $default-button-label-color;

    &:focus,
    &:hover {
        color: $default-button-bg-color--hover;
    }

    ._Icon {
        color: currentColor;
    }
}

/* DISABLED */
._link.primary.negative[disabled]:not(.omitdisablestyling)[class],
._link.primary.negative.disabled[class],
._command.primary.negative[disabled]:not(.omitdisablestyling)[class],
._command.primary.negative.disabled[class]
._link.primary.neutral[disabled]:not(.omitdisablestyling)[class],
._link.primary.neutral.disabled[class],
._command.primary.neutral[disabled]:not(.omitdisablestyling)[class],
._command.primary.neutral.disabled[class]
._link.primary.positive[disabled]:not(.omitdisablestyling)[class],
._link.primary.positive.disabled[class],
._command.primary.positive[disabled]:not(.omitdisablestyling)[class],
._command.primary.positive.disabled[class]
._link.secondary.negative[disabled]:not(.omitdisablestyling)[class],
._link.secondary.negative.disabled[class],
._command.secondary.negative[disabled]:not(.omitdisablestyling)[class],
._command.secondary.negative.disabled[class]
._link.secondary.neutral[disabled]:not(.omitdisablestyling)[class],
._link.secondary.neutral.disabled[class],
._command.secondary.neutral[disabled]:not(.omitdisablestyling)[class],
._command.secondary.neutral.disabled[class],
._link.secondary.positive[disabled]:not(.omitdisablestyling)[class],
._link.secondary.positive.disabled[class],
._command.secondary.positive[disabled]:not(.omitdisablestyling)[class],
._command.secondary.positive.disabled[class]
._link.tertiary.negative[disabled]:not(.omitdisablestyling)[class],
._link.tertiary.negative.disabled[class],
._command.tertiary.negative[disabled]:not(.omitdisablestyling)[class],
._command.tertiary.negative.disabled[class],
._link.tertiary.neutral[disabled]:not(.omitdisablestyling)[class],
._link.tertiary.neutral.disabled[class],
._command.tertiary.neutral[disabled]:not(.omitdisablestyling)[class],
._command.tertiary.neutral.disabled[class],
._link.tertiary.positive[disabled]:not(.omitdisablestyling)[class],
._link.tertiary.positive.disabled[class],
._command.tertiary.positive[disabled]:not(.omitdisablestyling)[class],
._command.tertiary.positive.disabled[class] {
    background-color: $disabled-button-bg-color;
    border: $disabled-button-border;
    border-radius: $border-radius;
    color: $disabled-button-label-color;

    &:active,
    &:focus,
    &:hover {
        background-color: $disabled-button-bg-color;
        border: $disabled-button-border;
        color: $disabled-button-label-color;
    }
}

/* DROPDOWNS ====== */
._CollapsibleListBox {
    ._CollapsibleListBoxCommand {
        border: $form-field-border;
        border-radius: $border-radius;
        color: $form-field-text;

        &:hover,
        &:focus {
            background-color: $white;
            border: $form-field-border-active;
            color: $form-field-text;
        }
    }

    ._CollapsibleListBoxCommand.open,
    ._OptionListElement,
    ._OptionListElement:last-child {
        border: $form-field-border-active;
        border-radius: $border-radius;

        &.selected {
            background-color: $selected-bg-color;
            border-color: $selected-border-color;
            color: $selected-label-color;
        }

        &:hover,
        &:focus {
            background-color: $default-hover-bg-color;
            border-color: $default-hover-border-color;
            color: $default-hover-label-color;
        }
    }

    ._OptionListElement ._OptionListCommand:focus {
        background-color: $default-hover-bg-color;
        border-color: $default-hover-border-color;
    }
}

._ViewPicker._CollapsedControls ._OptionListElement:hover,
._ViewPicker._CollapsedControls ._OptionListElement ._OptionListCommand:focus {
    color: $default-hover-label-color;
}

._ViewPicker._CollapsedControls ._CollapsibleListBoxCommand:not(.open):hover,
._ViewPicker._CollapsedControls ._CollapsibleListBoxCommand:not(.open):focus {
    color: $dk-gray;
}

/* CHECKBOXES ====== */
._Choice.buttoncheck ._input:checked + ._DataEntryLabel::before {
    background-color: $md-navy;
    border-color: $md-navy;
}

._heading {
    color: $dk-teal;
}