
@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Thin.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Thin.eot') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Thin.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-ThinItalic.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-ThinItalic.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-ThinItalic.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Light.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Light.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Light.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-LightItalic.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-LightItalic.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Book.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Book.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Book.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-BookItalic.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-BookItalic.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-BookItalic.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-BookItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Medium.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Medium.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Medium.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-MediumItalic.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-MediumItalic.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-MediumItalic.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Semibold.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Semibold.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Semibold.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-SemiboldItalic.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-SemiboldItalic.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-SemiboldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Bold.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Bold.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Bold.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-BoldItalic.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-BoldItalic.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Extrabold.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Extrabold.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Extrabold.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-ExtraboldItalic.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-ExtraboldItalic.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-ExtraboldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Medium.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Medium.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Medium.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-MediumItalic.eot');
    src: url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-MediumItalic.eot?#iefix') format('embedded-opentype'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-MediumItalic.woff') format('woff'), url('https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-MediumItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}



/*


@font-face {
    font-family: "Sharp Sans";
    src: url("https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Bold.eot");
    src: url("https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Bold.woff2") format("woff2"), url("https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Sharp Sans";
    src: url("https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Bolditalic.eot");
    src: url("https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Bolditalic.woff2") format("woff2"), url("https://bswcdndesign-prod.bswhealth.com/content/fonts/SharpSans-Bolditalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}



*/
