@import "_variables_mychart.scss";

/* VACCINE CREDENTIALS
   ========================================================================== */

.covidExportContainer #ExportHealthWalletCard {
    display: none;
}

.md_covidstatus_index {
    h1.header {
        font-family: $dt-font;
        font-weight: $sharp-weight-semi-bold;
        font-size: 20px;
        color: $dk-teal !important;

        @media screen and (min-width: $breakpoint-mobile) {
            font-size: 24px;
        }

        @media screen and (min-width: $breakpoint-tablet) {
            font-size: 32px;
        }
    }

    .subjectIndicator {
        display: none !important;
    }
}

.md_covidstatus_index #sidebar .content {
    h2, p, ul {
        display: none;
    }
}

div#covidVideoContainer {
    display: none;
}
