@import "_new_variables.scss";

/* SCHEDULING V2 
========================================================================== */

/* Schedule workflow timeline */
.summary {
    border-top: 4px solid rgba(0, 193, 222, 0.4);
}

.summaryInfo:before {
    background-color: $dk-teal;
}

.summaryInfo.summaryActive .subtle.edit, .summaryInfo.summaryComplete .subtle, .summaryInfo.summaryIncomplete .subtle, a.summaryInfo {
    color: $dk-gray;
}

.summaryInfo.summaryComplete:not(.summaryActive) .subtle.editText {
    display: none;
}

a.summaryInfo:hover, a.summaryInfo.summaryActive {
    background-color: rgba(0, 193, 222, 0.4);
}

.summaryInfo span {
    font-size: 14px;
}

.summaryInfo:first-child {
    padding-left: 5px !important;
}

a.summaryInfo {
    padding: 5px !important;
}

.summaryInfo.summaryComplete .summaryIcon:before {

    @media screen and (max-width: 768px) {
        left: 104%;
        bottom: 2%;
    }
}

.extrasContainer input.buttoncheck + label.buttoncheck {
    padding: 0 0px 3px 25px;
}