@import "_variables_mychart.scss";

/* ADVANCED CARE PLANNING
========================================================================== */

.acpContent .approvedDocBadge {
    background-color: $dk-green;
    border: none;
    color: $white !important;
}

.qtnaire-card-content {
    background: no-repeat;
}

.helpful-resource-elem .icon {
    width: 25px;
    height: 25px;
}

.helpful-resource-elem span {
    margin-left: 40px;
}

#AddDocButton {
    &:before {
        height: 24px;
        width: 24px;
        margin-top: 6px;
    }

    &:hover {
        box-shadow: none;
        background-color: $md-navy;

        &::before {
            background: url("../images/add_document_white.svg") no-repeat;
        }
    }
}

.acpContent .pendingDocBadge {
    border-color: transparent;
    background-color: $lt-yellow;
}
/* Icons on landing page tiles */
.qtnaire-card-content.forMe, .qtnaire-card-content.forDoc {
    background-size: 35px;
}