// SHARP SANS FONT VARIABLES
$sharp-sans: 'Source Sans Pro', sans-serif;
$sharp-weight-light: 100;
$sharp-weight-semi-light: 300;
$sharp-weight-regular: 400;
$sharp-weight-semi-bold: 600;
$sharp-weight-bold: 700;
$sharp-weight-semi-black: 800;
$sharp-weight-black: 900;

// FONTS
$font-family: "Source Sans Pro", "Arial", sans-serif;
$font-size-regular: 16px;
$font-size-regular-mobile: 14px;

// 2021 NEW BSWH COLORS
$BSWH_Grey: #DDDDDD;
$BSWH_Dark_Grey: #727272;
$BSWH_Navy: #3A4455;
$BSWH_Teal: #007FA9;
$BSWH_Dark_Teal: #006181;
$BSWH_Light_Teal: #E5F5FB;
$BSWH_Yellow: #FECD4C;
$BSWH_Light_Yellow: #FFF5DE;
$BSWH_Cool_Grey: #F7F9FA;

// COLORS
$white: #ffffff;
$black: #000000;

$dk-gray: #364248;
$md-gray: #888B8D;
$lt-gray: #C8C8C8;

$dk-blue: #00539D;
$md-blue: #6AAAE4;
$lt-blue: #97CAEB;

$dk-teal: #008FBE;
$md-teal: #00C1DE;
$lt-teal: #96DAEA;

$dk-green: #009877;
$md-green: #00C4B3;
$lt-green: #78DED4;

$dk-navy: #001E61;
$md-navy: #5887DA;
$lt-navy: #A5C5ED;

$dk-yellow: #FFB71B;
$md-yellow: #FFC844;
$lt-yellow: #FFE785;

$dk-orange: #FF4D00;
$md-orange: #FF7F30;
$lt-orange: #FFB98E;

$dk-red: #CE0E2D;
$md-red: #F4436C;
$lt-red: #FE9BB1;

$dk-purple: #691F74;
$md-purple: #93358D;
$lt-purple: #CB8BDA;

$timeline-blue: #00C1DE;
$common-bg: $BSWH_Cool_Grey;
$border-grey: $BSWH_Grey;
$alert: $dk-red;
$tertiary: $dk-green;
$skyblue: #f5fbfc;

// PROXY COLORS
$bubblegum: #B52B6E;
$royal: #744DAE;
$ocean: #008FBB;
$goldenrod: #F79A11;
$autumn: #F47032;

// COLORS - HIGH CONTRAST
$hc-primary: #00539d;
$hc-secondary: #2F72B1;
$hc-tertiary: #ededed;
$hc-button-default: #2356af;
$hc-button-default-hover: #003184;
$hc-font-color-regular: #000000;
$border-dark-grey: #dbdbdb;
$hc-alert: #CA4B39;
$hc-hover-link: #d3e4f0;
$hc-card-border: solid 1px #e3e7ea;
$hc-dark-teal: #006181;
$hc-teal: #007FA9;

// COLORS - HOVER
$default-border-style: solid 1px;
$default-hover-bg-color: $BSWH_Light_Yellow;
$default-hover-label-color: $BSWH_Navy;
$default-hover-border-color: $BSWH_Yellow;
$default-hover-border: $default-border-style $default-hover-border-color;
$lt-teal-hover: $BSWH_Light_Teal;
$light-gray: #DCDCDC;
$tertiary-opaque-hover: rgba(66,168,79,0.8);
$blue-hover: #287ECA;
$red-hover: #CA4B39;
$hover-tile: $common-bg;
$bubblegum-hover: #f9eaf1;
$royal-hover: #e9e2f3;
$ocean-hover: #f5fbfc;
$goldenrod-hover: #FFF5E3;
$autumn-hover: #fee9df;

// SELECTED STATE
$selected-bg-color: $lt-teal-hover;
$selected-label-color: $BSWH_Navy;
$selected-border-color: $BSWH_Dark_Teal;
$selected-border: $default-border-style $selected-border-color;
$selected-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.3);

// TOGGLE BUTTONS
$selected-toggle-label-color: $BSWH_Teal;
$selected-toggle-border-color: $BSWH_Teal;
$selected-toggle-border: $default-border-style $selected-toggle-border-color;

// BUTTONS
$default-button-bg-color: $white;
$default-button-bg-color--hover: #2356af;
$default-button-label-color: $md-navy;
$default-button-label-color--hover: $white;
$default-button-border-color: $md-navy;
$default-button-border-color--hover: #2356af;
$default-button-border: $default-border-style $default-button-border-color;
$default-button-bg-color__neg: $dk-gray;
$default-button-bg-color__neg--hover: $black;
$default-button-label-color__neg: $white;
$default-button-label-color__neg--hover: $white;
$default-button-border-color__neg: $dk-gray;
$default-button-border-color__neg--hover: $black;
$default-button-bg-color__pos: $md-navy;
$default-button-bg-color__pos--hover: $default-button-bg-color--hover;
$default-button-label-color__pos: $white;
$default-button-label-color__pos--hover: $default-button-label-color--hover;
$default-button-border-color__pos: $md-navy;
$default-button-border-color__pos--hover: $default-button-border-color--hover;
$disabled-button-bg-color: #ededed;
$disabled-button-label-color: #B5B9BB;
$disabled-button-border-color: $disabled-button-bg-color;
$disabled-button-border: $default-border-style $disabled-button-border-color;

// COLORS - MOBILE
$banner-bg-color: $hover-tile;
$banner-font-color: $dk-teal;

//COLORS - SYSTEM
$system-red: #FFF0F0;
$system-orange: #FFF5E3;
$system-green: #F1F9EB;
$system-dk-blue: #E3EDEF;

// BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;
$breakpoint-tablet-max: #{$breakpoint-tablet - 1px}; //max width 767px
$breakpoint-mobile-max: #{$breakpoint-mobile - 1px}; //max width 575px
$breakpoint-desktop: 992px;
$breakpoint-desktop-xl: 1200px;
$breakpoint-custom-desktop: 1250px;
$breakpoint-max-width: 1440px;

// GLOBAL COMPONENTS
$menu-width-desktop: 125px;
$menu-width-mobile: 100%;
$header-height-desktop: 80px;
$header-height-mobile: 90px;
$header-main-height-desktop: 80px;
$header-main-height-mobile: 50px;

// PADDING AND MARGINS
$card-padding-desktop: 30px;
$card-padding-tablet: 25px;
$card-padding-mobile: 15px;
$card-margin-desktop: 30px;
$card-margin-mobile: 15px;
$icon-padding: 7px;
$button-auto-padding: 5px 15px;

// CARDS
$card-box-shadow: 0 1px 5px 0 $lt-gray;
$card-link: 14px;
$card-pill: 13px;
$pill-border-radius: 11px;
$card-border: solid 1px #edf1f5;
$card-border-radius: 2px;

// FORMS
$form-field-border: solid 1px $BSWH_Grey;
$form-field-border-active: solid 1px $BSWH_Dark_Grey;
$form-field-text: $BSWH_Navy;
$form-field-placeholder: $BSWH_Dark_Grey;
$form-field-margin: 1rem;
$form-checkbox-dimensions: 15px;
$form-checkbox-border: 1px solid $md-gray;
$form-field-min-height: 2.5rem;
$input-checked: #CAEBF2;

// MISC
$border-radius: 0px;
$header-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$padding-top: 0px;
$uc-plus: 12px;
$fade-transition: .4s ease-in-out;
$divider: 2px solid #E9E9E9;
$light-selected-color: #C5D4F0;
$info-bg: #E8F5F9; //only used in visits
$main-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); //only used in prelogin
$disabled-bg-color: $light-gray;



