@import "_new_variables.scss";

/* CARDS
   ========================================================================== */
.card {
    border-radius: $card-border-radius;
    padding: 1rem;
}

.card.addItem {
    height: auto;
    min-height: auto !important;
    padding: 0px;
}

.card.addItem.hover {
    box-shadow: $card-box-shadow;
    background-color: $md-navy !important;
    color: $white;

    .vcentertablecell .addMessage {
        color: $white;
    }
}

.card.addItem a {
    display: table;
    padding: 20px;
}

.card.addItem a:hover {
    color: $white;
}

/* SELECTABLE CARDS ====== */

/* Selected State: Billing CC, etc. */
.cardlist.selectable {
    .card.selected {
        background-color: $selected-color;
        box-shadow: $selected-shadow;

        &::before {
            width: 0rem;
        }
    }

    &.selectionMade .card:hover,
    &.selectionMade .card:focus,
    &.selectionMade .card.selected {
        box-shadow: $selected-shadow !important;
    }
}

/* Hover and click states*/
.cardlist.selectable {
    .card {

        &.hover {
            background-color: $lt-teal-hover;
            //color: $white;
        }

        &.hover:not(.button) {
            background-color: $lt-teal-hover;
            //color: $white;
            .label, label, .PaymentAmountValue, h4, span {
                //color: $white;
            }
        }

        &.clickable {

            &.hover {
                background-color: $lt-teal-hover;
            }
        }
    }

    a.card:not(.button):hover {
        background-color: $common-bg;
    }

    a.card.addItem:not(.button):hover {
        background-color: $common-bg;

        span {
            color: $white;
        }
    }
}

div.cardlist.shortcards.stackable {
    display: flex;
    box-sizing: border-box;
    max-height: 100%;
    flex-flow: row wrap;
    //place-content: stretch center;
    align-items: stretch;
}

/* MYCHART OPEN SCHEDULING DESKTOP ========== */

.cardlist.buttonCards .card {
    padding: 0px;
    width: 23%;

    span {
        display: block;
    }

    img {
        max-height: 50px;
        margin-top: 10px;
    }

    a {
        border: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 15px;
    }
    /*&.selected {
        background-color: ;
    }*/
}

.md_openscheduling_index .cardlist.buttonCards .card:hover,
.md_openscheduling_index .cardlist.buttonCards .card:hover span,
.md_openscheduling_index .cardlist.buttonCards .card:hover label,
.md_openscheduling_index .cardlist.buttonCards .card.selected,
.md_openscheduling_index .cardlist.buttonCards .card.selected span,
.md_openscheduling_index .cardlist.buttonCards .card.selected label {
    background-color: $hover-tile;
    color: $dk-blue;
}

.md_openscheduling_index {
    .zipSearch {
        padding: 15px;

        .button {
            background-color: $md-teal;
        }
    }
    .zip {
        font-family: $font-family;
        width: 100%;
        border-radius: 2px;
        margin: 10px auto;
    }
}

/* INSURANCE
   ========================================================================== */

.cardlist .card .cardline.name {
    margin-bottom: 0.5rem;
}

.card.addItem:not(.hasAddMessage) a {
    height: 100%;
}

/* PREVENTIVE CARE
   ========================================================================== */
.hmt-item-card .itemCommand .commandLabel {
    color: $md-navy;
}

.hmt-item-card .itemCommand:focus, .hmt-item-card .itemCommand:hover, .hmt-item-card .itemCommand:active {
    background-color: $common-bg;
}

/* MOBILE CARDS
   ========================================================================== */
.mobile {
    .section .card {
        h2 {
            background-color: transparent;
            margin-bottom: 0.5rem;
            font-size: 1.2em;
        }
    }
}